.error {
  color: var(--bs-danger);

  text-align: center;
  margin: 15px 0;
}
.msg {
  color: var(--bs-success);
  text-align: center;
  margin: 15px 0;
}

.no-padding {
  padding: 0;
}

.blue {
  background-color: var(--bs-cyan);
}
.orange {
  background-color: var(--bs-orange);
}
.yellow {
  background-color: var(--bs-warning);
}
.gray {
  background-color: var(--bs-gray);
}

.info-container {
  background-color: var(--bs-gray-dark);
  margin-top: 2px;
  margin-bottom: -2px;
  @extend .no-padding;
  .info {
    margin: 3px;
    background-color: var(--bs-light);
    > div {
      margin: 10px 0;
      .square {
        height: 20px;
        width: 20px;
        border-radius: 4px;
        margin: 2px 0;
      }
    }
  }
}

mat-grid-list {
  margin-right: 5px;
  mat-grid-tile {
    margin: 3px;
    border-radius: 4px;
    border: 1px solid var(--bs-gray-dark);
    box-sizing: border-box;
  }
}
